#left-sidebar{
    height: 520px;
    background-color: black;
}
#right-sidebar {
    position: relative;
    height: 520px;
    background-color: black;
}

@media only screen and (max-width: 600px) {
    #left-sidebar{
        display: none;
    }

    #right-sidebar {
        display: none;
    }
}