<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>Contribution</title>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!--script for authentication list-->
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

    <!-- Custom fonts for this template-->
    <link href="./js/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="css/profile_page.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/donation.css" type="text/css">

    <!-- Stripe JS/CSS -->
    <script src="https://js.stripe.com/v2/"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <!--initialize firebase-->
    <script src="https://www.gstatic.com/firebasejs/5.11.0/firebase.js"></script>
    <script src="./js/firebase_setup.js"></script>
</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand mr-auto p-2" href="index.html">
            <img src="images/logo.png" width="100" height="100" class="d-inline-block float-right" alt="Logo">

        </a>
        <span class="text-light" style="margin: 5px;">Project Treehouse </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="frequently_asked_questions.html">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="signup_and_login.html">Login & Sign-up</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="donation.html">Contribution</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="py-12" id="page-content-wrapper">
    <div class="container-fluid">
        <!-- Page Content -->
        <section class="py-5">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="./index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Donation</li>
                </ol>
                <h1 id="title">Donate Now</h1>
                <hr>
                <!--  First Page, Select Donation Amount  -->
                <div class="container col-sm-4" id="donation_amount">
                    <h4>Select Contribution</h4>
                    <!--  One of the Amounts should be pre-selected  -->
                    <select id="currency"></select>
                    <span id="symbol">$</span>
                    <br>
                    <input type="button" class="bg-light" value="5" onclick="get_amount(this)">
                    <input type="button" class="bg-light" value="10" onclick="get_amount(this)" autofocus>
                    <input type="button" class="bg-light" value="15" onclick="get_amount(this)"><br>
                    <input type="button" class="bg-light" value="25" onclick="get_amount(this)">
                    <input type="button" class="bg-light" value="50" onclick="get_amount(this)">
                    <input type="button" class="bg-light" value="100" onclick="get_amount(this)"><br>
                    <!--  Provides User ability to specify amount to donate  -->
                    <input type="number" pattern="\d*" placeholder="Other" class="bg-light" name="other" id="other" onchange="get_amount(this)">
                    <button class="bg-info" id="nextPage">Donate</button>
                </div>

                <!-- Hidden Stripe API -->
                <div class="container col-sm-4" id="payment">
                    <div class="container">
                        <div id="app">
                            <div id="firebaseui-auth-container"></div>
                            <div id="loader">&hellip;</div>
                            <div v-if="currentUser">
                                <h4>Hello {{ currentUser.email }},</h4>
                                <button class="bg-white" v-on:click="signOut">Sign out</button>
                                <hr>
                                <div v-if="stripeCustomerInitialized">
                                    <h3>Credit Cards</h3>
                                    <ul>
                                        <li v-for="source in sources">
                                        <span v-if="source.id">
                                          {{ source.brand }} &hellip;{{ source.last4 }}
                                          (exp. {{ source.exp_month }}/{{ source.exp_year }})
                                        </span>
                                            <span v-else>&hellip;</span>
                                        </li>
                                    </ul>
                                    <table class="table-borderless">
                                        <th><h4>New</h4></th>
                                        <tr>
                                            <td>Number </td>
                                            <td> </td>
                                            <td><input class="bg-transparent" v-model="newCreditCard.number"></td>
                                        </tr>
                                        <tr>
                                            <td>CCV </td>
                                            <td> </td>
                                            <td><input class="bg-transparent" v-model="newCreditCard.cvc"></td>
                                        </tr>
                                        <tr>
                                            <td>Exp</td>
                                            <td> </td>
                                            <td><input placeholder="MM" class="bg-transparent" v-model="newCreditCard.exp_month" size="2"> /
                                                <input placeholder="YYYY" class="bg-transparent" v-model="newCreditCard.exp_year" size="4">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Zip </td>
                                            <td> </td>
                                            <td><input class="bg-transparent" v-model="newCreditCard.address_zip"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <br>
                                                <button class="bg-white" v-on:click="submitNewCreditCard">Add</button>
                                                {{ newCreditCard.error }}
                                            </td>
                                        </tr>
                                    </table>
                                    <hr>
                                    <h3>Charges</h3>
                                    <ul>
                                        <li v-for="(charge, id) in charges">
                                            {{ charge.amount }}
                                            <span v-if="charge.error">
                                          {{ charge.error }}
                                        </span>
                                            <span v-else-if="charge.outcome">
                                          {{ charge.outcome.seller_message }}
                                          {{ charge.source.brand }} &hellip;{{ charge.source.last4 }}
                                          (exp. {{ charge.source.exp_month }}/{{ charge.source.exp_year }})
                                        </span>
                                            <span v-else>&hellip;</span>
                                        </li>
                                    </ul>
                                    <table class="table-borderless">
                                        <th><h4>New</h4></th>
                                        <tr>
                                            <td>Card</td>
                                            <td>
                                                <select v-model="newCharge.source">
                                                <option :value="null">Default payment method</option>
                                                <option v-for="(source, id) in sources" v-bind:value="source.id" v-if="source.id">
                                                    {{ source.brand }} &hellip;{{ source.last4 }}
                                                    (exp. {{ source.exp_month }}/{{ source.exp_year }})
                                                </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr id="pay_amount">
                                            <td>Amount </td>
                                            <td><input class="bg-transparent" v-model="newCharge.amount" id="amount"></td>
                                        </tr>
                                    </table>
                                    <a id="charge">
                                        <button id="charge_button" class="bg-info" v-on:click="submitNewCharge">Charge</button>
                                    </a>
                                    {{ newCharge.error }}
                                </div>
                                <div v-else>&hellip;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Script for currency symbols -->
<script src="js/currency_symbol_map.js"></script>
<!-- Access page functions -->
<script src="./js/donation.js"></script>

<!-- Import and configure the Firebase SDK -->
<!-- These scripts are made available when the app is served or deployed on Firebase Hosting -->
<!-- If you do not serve/host your project using Firebase Hosting see https://firebase.google.com/docs/web/setup -->
<script src="/__/firebase/5.9.1/firebase-app.js"></script>
<script src="/__/firebase/5.9.1/firebase-auth.js"></script>
<script src="/__/firebase/5.9.1/firebase-firestore.js"></script>
<script src="/__/firebase/init.js"></script>

<!-- Import Firebase UI -->
<script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>

<!-- Bootstrap core JavaScript-->
<script src="./js/jquery/jquery.min.js"></script>
<script src="./js/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="./js/jquery-easing/jquery.easing.js"></script>

<!-- Custom scripts for all pages-->
<script src="./js/profile_page.min.js"></script>
<script src="./js/index.js"></script>

</body>
</html>
